body.darkTheme {
	background-color: #23252c;
}

/*
===============================================================================

Заголовок сайта

===============================================================================
*/

body.darkTheme header {
	background-color: #23252c;
	box-shadow: 0px 1px 3px #333;
}

body.darkTheme header nav ul li a {
	color: #fff;
}

/*
===============================================================================

Блок "Почему выбирают MES?"

===============================================================================
*/

body.darkTheme #whyChoose {
	color: white;
}

/*
===============================================================================

Блок "Пройти бесплатный тест"

===============================================================================
*/

body.darkTheme #tryFreeTest {
	color: white;
	background-color: #1C1D21;
}
